<div class="sidebar-profile">
    <div class="avatar">
        <img class="img-circle profile-image" src="img/profile.jpg">
        <i class="on border-dark animated bounceIn"></i>
    </div>
    <div class="profile-body dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><h4>Nilesh Jayanandana <span class="caret"></span></h4></a>
        <small class="title">Front-end Engineer</small>
        </div>
</div>
<nav>
    <h5 class="sidebar-header">Navigation</h5>
    <!-- location directive.js | data-nav-toggle-sub maps to -->
    <ul class="nav nav-pills nav-stacked" data-nav-toggle-sub>
        <li ui-sref-active="active">
            <a href="" ui-sref="home" title="Dashboard">
                <i class="fa fa-fw fa-tachometer"></i> Dashboard
            </a>
        </li>
        
          <li ui-sref-active="active">
            <a href="" ui-sref="participants" title="Dashboard">
                <i class="fa fa-fw fa-user"></i> Participants
            </a>
        </li>
        
                  <li ui-sref-active="active">
            <a href="" ui-sref="agenda" title="Dashboard">
                <i class="fa fa-fw fa-user"></i> Agenda
            </a>
        </li>
        
                  <li ui-sref-active="active">
            <a href="" ui-sref="speakers" title="Dashboard">
                <i class="fa fa-fw fa-user"></i> Speakers
            </a>
        </li>
        
        
           </ul>
</nav>
