
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title"  >Company Participants</h4>
</div>
<div class="modal-body">


    <uib-tabset >
        <uib-tab active="active" index="5" heading="Payments">



            <div class="row " style="padding-top:2%">                     

                <div class="col-lg-3">
                    <h4 class="" style="color:#F26922">Company</h4>
                    <hr>
                    <table class="table table-hover table-condensed" style="font-size:80%">
                        <tbody>
                            <tr>
                                <td>{{companyInfo.company_name}}</td>    
                            </tr>
                            <tr>
                                <td>{{companyInfo.company_address}}</td>       
                            </tr> 
                            <tr>
                                <td>T : {{companyInfo.company_phone}}</td>    
                            </tr>
                            <tr>
                                <td> F : {{companyInfo.company_fax}} </td>
                            </tr>
                            <tr>
                                <td> E :  {{companyInfo.company_email}}  </td>
                            </tr>

                        </tbody>


                    </table>
                </div>

                <div class="col-lg-3">
                    <h4 class=" " style="color:#F26922">Contact Person</h4>
                    <hr>
                    <table class="table table-hover table-condensed" style="font-size:80%">
                        <tbody>
                            <tr>
                                <td>{{companyInfo.company_contact_title}} {{companyInfo.company_contact_name}}</td>    
                            </tr>
                            <tr>
                                <td>{{companyInfo.company_contact_designation}}</td>    
                            </tr> 
                            <tr>
                                <td> T :{{companyInfo.company_contact_phone}} </td>
                            </tr>
                            <tr>
                                <td> F : {{companyInfo.company_contact_email}} </td>
                            </tr>


                        </tbody>


                    </table>
                </div>

                <div class="col-lg-6">
                    <h4 class=" " style="color:#F26922">Payments</h4>
                    <hr>


                    <div  ng-include="'pages/payInfo.html'"></div>

                </div>



            </div> 

        </uib-tab>
        <uib-tab index="6"  >

            <uib-tab-heading>
                Participants <span class="label label-info">{{companyInfo.user_count}}</span>
            </uib-tab-heading>
            <div class="row"  style="padding-top:1%">


                <form class="form-horizontal" style="font-size:80%">
                    <div class="form-group">     
                        <label class="col-md-8 control-label">Search</label>
                        <div class=" col-md-4">
                            <input type="text" class="form-control input-sm" ng-model="CompnayViewSearch"  placeholder="Search">
                        </div>

                    </div>
                </form>

                <table class="table table-hover table-bordered table-striped" style="font-size:80%; ">
                    <thead>
                        <tr  class="success" >
                            <td>Reg No</td>
                            <th>Name</th>
                            <th>NIC</th>
                            <th>Designation</th>
                            <th>University</th>
                            <th>Contact</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-repeat="x in pList | filter  :CompnayViewSearch">
                            <td>{{x.participant_index_no}}</td>
                            <td>{{x.participant_title}}  {{x.participant_name}}</td>
                            <td>{{x.participant_nic}}</td>
                            <td>{{x.participant_designation}}</td>
                            <td>{{x.participant_university}}</td>
                            <td>{{x.participant_phone}}</td>



                        </tr>


                    </tbody>

                </table>

            </div>
        </uib-tab>

    </uib-tabset>


</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default btn-sm" ng-click="cancel()" data-dismiss="modal">Close</button>

</div>

