   <form class="form-horizontal" style="font-size:80%">

                        <div class="form-group" >
                            <div class="col-md-6">
                                <div class="col-md-12">
                                    <label >
                                        Payment Method

                                    </label>
                                </div>
                                <div class="col-md-12">

                                    <select type="text" class="form-control input-sm" ng-model="pay.method">
                                        <option value="CASH">CASH</option>
                                        <option value="CHEQUE">CHEQUE</option>

                                    </select>
                                </div>

                            </div>

                            <div class="col-md-6">
                                <div class="col-md-12">
                                    <label >
                                        Amount

                                    </label>
                                </div>
                                <div class="col-md-12">

                                    <input type="text" class="form-control input-sm" ng-model="pay.amount">
                                </div>

                            </div>

                        </div>

                        <div class="form-group" ng-if="pay.method != 'CASH'" >
                            <div class="col-md-6">
                                <div class="col-md-12">
                                    <label >
                                        Bank

                                    </label>
                                </div>
                                <div class="col-md-12">

                                    <input type="text" class="form-control input-sm" ng-model="pay.bank">

                                </div>

                            </div>

                            <div class="col-md-6">
                                <div class="col-md-12">
                                    <label >
                                        Branch

                                    </label>
                                </div>
                                <div class="col-md-12">

                                    <input type="text" class="form-control input-sm" ng-model="pay.branch">
                                </div>

                            </div>

                        </div>


                        <div class="form-group"  ng-if="pay.method != 'CASH'">
                            <div class="col-md-6">
                                <div class="col-md-12">
                                    <label >
                                        Cheque No

                                    </label>
                                </div>
                                <div class="col-md-12">

                                    <input type="text" class="form-control input-sm" ng-model="pay.checkno">

                                </div>

                            </div>

                            <div class="col-md-6">
                                <div class="col-md-12">
                                    <label >
                                        Date

                                    </label>
                                </div>
                                <div class="col-md-12">

                                    <input type="date" class="form-control input-sm" ng-model="pay.date">
                                </div>

                            </div>

                        </div>

                        <div class="form-group" >
                            <div class="col-md-offset-8 col-md-4" >
                                <button class="btn btn-success btn-sm btn-block" ng-click="savePayment('company')">
                                    Save
                                </button>

                            </div>
                        </div>
                    </form>
